<template>
  <div>
    <span v-if="error" class="error" :style="{ color: errorColor}">{{ error }}</span>
    <div v-else>
      <div>
        <h4 v-if="outputAmount">{{ getConversionText }}</h4>
        <input type="number" v-model="inputAmount" @input="changeInputAmount">
        <select v-model="inputCurrency">
          <option value selected disabled>{{ getInltFrom('selectCurrency') }}</option>
          <option
            v-for="currencyCode in currencies"
            :value="currencyCode"
            :key="currencyCode"
          >{{ getInltFrom(currencyCode) }}</option>
        </select>
      </div>
      <div>
        <input type="number" :value="outputAmount" readonly>
        <select v-model="targetCurrency" @change="changeTargetCurrency">
          <option value selected disabled>{{ getInltFrom('selectCurrency') }}</option>
          <option
            v-for=" currencyCode in getTargetCurrencies"
            :value="currencyCode"
            :key="`target-${currencyCode}`"
          >{{ getInltFrom(currencyCode) }}</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
const customCurrencies = ["EUR", "USD", "CHF", "JPY", "CAD", "GBP"];
const customCurrenciesValues = {
  EUR: {
    USD: 1.2897,
    CHF: 1.3135,
    GBP: 0.8631
  },
  USD: {
    JPY: 109.62
  },
  CHF: {
    USD: 0.996
  },
  GBP: {
    CAD: 1.7574
  }
};
const intl = {
  de: {
    EUR: "Euro",
    USD: "US Dollar",
    CHF: "Schweizer Franken",
    JPY: "Yen",
    CAD: "Kanadischer Dollar",
    GBP: "Britisch Pfund",
    selectCurrency: "Wählen Sie eine Währung",
    equals: "gleich",
    localeError: "Locale Error: unterstüzte Locale sind `de` und `en`",
    currencyError: 'Währung Error: angegebene Währung Werte sind nicht Korrekt'
  },
  en: {
    EUR: "Euro",
    USD: "US Dollar",
    CHF: "Swiss Franc",
    JPY: "Japan Yen",
    CAD: "Canada Dollar",
    GBP: "Great Britain Pound",
    selectCurrency: "Select a currency",
    equals: "equals",
    localeError: "Locale Error: Supported Locale are `de` and `en`",
    currencyError: 'Currency Error: given currency values are not correct'
  }
};

export default {
  name: "CurrencyConverter",
  props: {
    currencies: {
      type: Array,
      default: function() {
        return customCurrencies;
      }
    },
    values: {
      type: Object,
      default: function() {
        return customCurrenciesValues;
      }
    },
    locale: {
      type: String,
      default: "de"
    },
    errorColor: {
      type: String,
      default: "red"
    }
  },
  data: function() {
    return {
      error: "",
      inputCurrency: "",
      targetCurrency: "",
      inputAmount: 1,
      outputAmount: ""
    };
  },
  computed: {
    getConversionText() {
      return `${this.inputAmount} ${this.getInltFrom(this.inputCurrency)} 
          ${this.getInltFrom("equals")} ${this.outputAmount} ${this.getInltFrom(
        this.targetCurrency
      )} `;
    },
    getTargetCurrencies: function() {
      this.targetCurrency = "";
      this.outputAmount = "";
      if (this.inputCurrency) {
        let tmpValues = this.values[this.inputCurrency];
        return Object.keys(tmpValues);
      } else {
        return this.currencies;
      }
    }
  },
  methods: {
    getInltFrom(code, locale) {
      let tmpLocale = locale ? locale : this.locale;
      return intl[tmpLocale][code];
    },
    changeInputAmount() {
      if (this.inputAmount < 0) {
        this.inputAmount = Math.abs(this.inputAmount);
      }

      if (this.inputAmount && this.inputCurrency && this.targetCurrency) {
        this.performConversion();
      } else {
        this.outputAmount = "";
      }
    },
    changeTargetCurrency() {
      if (this.inputCurrency && this.inputAmount) {
        this.performConversion();
      }
      console.log(`Changed Target Currency ${this.targetCurrency}`);
    },
    performConversion() {
      let conversionRate = this.values[this.inputCurrency][this.targetCurrency];
      this.outputAmount = this.inputAmount * conversionRate;
    },
    validateProps() {
      if (!["de", "en"].includes(this.locale)) {
        this.error = this.getInltFrom("localeError", "de");
        return;
      }
      let currencyCodesFromValues = [];
      Object.keys(this.values).forEach(c => {
        if (!currencyCodesFromValues.includes(c)) {
          currencyCodesFromValues.push(c);
        }
        Object.keys(this.values[c]).forEach(code => {
          if (!currencyCodesFromValues.includes(code)) {
            currencyCodesFromValues.push(code);
          }
        });
      });
      let validCurrenciesInput = ( currencyCodesFromValues.length === this.currencies.length  && 
        currencyCodesFromValues.every( c => this.currencies.includes(c) ) && 
        this.currencies.every( c => currencyCodesFromValues.includes(c) )); 
      if(!validCurrenciesInput) {
          this.error = this.getInltFrom('currencyError');
      }
    }
  },
  created() {
    this.validateProps();
  }
};
</script>

<style>
.error {
  font-size: 20 em;
}
</style>


